.products {
    display: flex;
    /* margin-top: 50px; */

}

/* .products>div{
    border: 1px solid rgb(205, 65, 97);
} */

.container img {
    width: 100%;
}

.container>div {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 7px;
}

.container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    gap: 3%;
    justify-content: center;
    align-items: center;
}

.container button{
    border: none;
    background: #f0db4f;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

@media (min-width: 700px) and (max-width: 1100px) {
    .container {
        grid-template-columns: repeat(3, 30%);
        gap: 20px;
    }
}


@media (min-width: 400px) and (max-width: 699px) {
    .container {
        grid-template-columns: repeat(2, 45%);
        gap: 20px;

    }
}


@media (min-width: 100px) and (max-width: 399px) {
    .container {
        grid-template-columns: repeat(1, 90%);
        gap: 20px;

    }
}