.search {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 70px;
    padding-right: 50px;
    gap: 20px;
    border-bottom: 1px solid rgb(139, 139, 139);
    
}

.search input {
    padding: 10px;
}